* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: #6e6e6e;
    color: white;
    padding: 2vw;
}

header .h1 {
    display: flex;
    gap: 15px;
    align-items: center;
    font-size: 3vw;
}
header .h1 p { 
    font-size: 1.3vw;
    margin: 5px 0 0 20px;
}
header a {
    color: white;
    text-decoration: none;
}

nav ul {
    display: flex;
    gap: 20px;
    list-style: none;
}

nav a {
    color: white;
    font-size: 20px;
    padding: 1vw;
}

.titulo {
    background: #efefef;
    text-align: center;
    padding: 50px 10px;
}

.titulo h2 {
    font-size: 10vw;
    font-weight: normal;
}

.texto {
    background: url('banner.png') center/cover no-repeat;
    height: 550px;
    display: flex; 
    flex-direction: column;
    justify-content: center;
    align-items: center;

    text-align: center;
    padding: 20px;
}

.paragrafoUm {
    max-width: 500px;
    margin-bottom: 15px;
    font-size: 2vw;
}

.paragrafoDois,
.paragrafoTres {
    margin: 5px 0;
    font-size: 1.7vw;
}

.imagens {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 25px;
    padding: 40px;
}

.imagens p {
    height: 60vw; 
    border-radius: 20px;
    color: white;

    display: flex;
    align-items: center;
    justify-content: center;

    font-size: 14px;
    letter-spacing: 2px;

    background-size: cover;
    background-position: center;
}

.ourStory {
    background-image: url('fundo.png');
    margin: 4vw 3vw 3vw 4vw;
    
}

.theDetails {
    background-image: url('livro.png');
    margin: 4vw 3vw 3vw 1vw;
}

.rsvp {
    background-image: url('casa.png');
    margin: 2vw 3vw 3vw 4vw;
}

.registry {
    background-image: url('janela.png');
    margin: 2vw 3vw 3vw 1vw;
}
.imagens .ourStory {
   font-size: 3.3vw;
   font-weight: bold;
   text-decoration: underline;
}
.imagens .theDetails {
    font-size: 3.3vw;
    font-weight: bold;
    text-decoration: underline;
}
.imagens .rsvp {
    font-size: 3.3vw;
    font-weight: bold;
    text-decoration: underline;
}
.imagens .registry {
    font-size: 3.3vw;
    font-weight: bold;
    text-decoration: underline;
}

.registry-final {
    background: url('cerejeira.png') center/cover no-repeat;

    height: 700px;

    display: flex;
    justify-content: center;
    align-items: center;

    text-align: center;
    color: white;
    padding: 20px;
}

.registry-final .conteudo {
    max-width: 500px;
}

.registry-final h3 {
    margin-bottom: 15px;
    font-size: 3vw;
    margin: 0 0 3vw 0;
}

.registry-final p {
    margin-bottom: 20px;
    font-size: 25px;
    line-height: 160%;
}

.registry-final button {
    padding: 20px 90px;
    border: none;
    background: #632B2B;
    color: white;
    border-radius: 20px;
    cursor: pointer;
    font-size: 1vw;
}

.dress {
    background: #a79f94;
    padding: 60px 40px;
}

.dress h3 {
    color: white;
    font-size: 40px;
    margin-bottom: 5px;
}

.dress .sub {
    color: white;
    font-size: 12px;
    margin-bottom: 40px;
    letter-spacing: 1px;
}

.grid-dress {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 40px;
    max-width: 700px;
    margin: 0 auto;
}
.img {
    width: 100%;
    height: 500px;
    border-radius: 10px;
    background-size: cover;
    background-position: center;
}

.img1 {
    background-image: url('madrinhas.png');
}

.img2 {
    background-image: url('convidadas.png');
}

.img3 {
    background-image: url('padrinho.png');
}

.img4 {
    background-image: url('terno.png');
}
footer {
    background-color: #ede8d0;
    align-items: center;
    line-height: 4vw;
}
footer h3 {
    display: flex;
    flex-direction: column; 
    align-items: center;  
    justify-content: center; 
    text-align: center;
    font-size: 4vw;
    font-weight: bold;
    padding: 1vw 0 0 0;
}
.saturday {
    display: flex;
    flex-direction: column; 
    align-items: center;  
    justify-content: center; 
    text-align: center;
    font-size: 3vw;
}
.september {
    display: flex;
    flex-direction: column; 
    align-items: center;  
    justify-content: center; 
    text-align: center;
    font-size: 3vw;
    padding: 0 0 1vw 0;
}